body {
    background-color: #161611;
}
#mainDiv {
    background-color: #7fb0e9;
    min-height: 500px;
    width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 5px 40px 0px rgba(255, 255, 255, 0.3);
}
#mainDiv:hover {
    transform: scale(1.05);
}
#to-do-form input {
    background-color: rgb(2, 107, 98);
    border: 0;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    color: white;
}
#to-do-form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
#to-do-form input:focus, #to-do-form button:focus {
    outline: none;
}
#to-do-form button {
    height: 50px;
    width: 80px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(45, 80, 6);
    cursor: pointer;
    font-weight: bolder;
    color: white;
}